<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nextflex</title>
</head>

<body>
    <h1>Nextflex - project management</h1>
    <div>
        <h2>Overview</h2>
        
    </div>
    <div>
        <ul>
            <li>
                <p>Simple Recommendation Page(post only):</p>
                <a href="http://localhost:8000/simple">http://localhost:8000/simple</a>
            </li>
            <li>
                <p>Content-Based Recommendation Page(post only):</p>
                <a href="http://localhost:8000/content">http://localhost:8000/content</a>
            </li>
            <li>
                <p>about page(blank):</p>
                <a href="http://localhost:8000/about">http://localhost:8000/about</a>
            </li>
        </ul>
    </div>
</body>
</html>