<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nextflex</title>
</head>

<body>
    <h1>Nextflex - project management</h1>
    <div>
        <h2>Overview</h2>
        
    </div>
    <div>
        <ul>
            <li>
                <p>Home page:</p>
                <a href="http://localhost:8000/simple">http://localhost:8000/simple</a>
            </li>
            <li>
                <p>About page:</p>
                <a href="http://localhost:8000/content">http://localhost:8000/content</a>
            </li>
            <li>
                <p>api/predict:</p>
                <a href="http://localhost:8000/api/predict">http://localhost:8000/api/predict</a>
            </li>
            <li>
                <p>api/auth/login:</p>
                <a href="http://localhost:8000/api/auth/login">http://localhost:8000/api/auth/login</a>
            </li>
            <li>
                <p>api/auth/logout:</p>
                <a href="http://localhost:8000/api/auth/logout">http://localhost:8000/api/auth/logout</a>
            </li>
            <li>
                <p>api/add:</p>
                <a href="http://localhost:8000/api/add">http://localhost:8000/api/add</a>
            </li>
        </ul>
    </div>
</body>
</html>